{% extends 'base.html' %}{}{% load static %}
{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link rel="stylesheet" href="{% static 'css/docker.css' %}" />
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
      <title>Docker Monitor</title>
    </head>
    <body>
      <h2 class="title">/dash/docker</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Image</th>
            <th>Ports</th>
            <th>Uptime</th>
            <th>CPU Usage (%)</th>
            <th>Memory Usage</th> <!-- New column for memory usage -->
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for container in containers %}
            <tr>
              <td>{{ container.name }}</td>
              <td class="status">
                <div class="info-button {% if container.status == 'running' %}
                    running
                  {% elif container.status == 'stopped' %}
                    stopped
                  {% elif container.status == 'paused' %}
                    paused
                  {% else %}
                    unknown
                  {% endif %}">{{ container.status|capfirst }}</div>
              </td>
              <td>{{ container.image }}</td>
              <td>{{ container.ports }}</td>
              <td>{{ container.uptime }}</td>
              <td>{{ container.cpu_usage }}</td>
              <td>{{ container.memory_usage }}</td> <!-- Display memory usage -->
              <td>
                <div class="dropdown">
                  <button class="dropdown-toggle">&#8942;</button>
                  <div class="dropdown-menu">
                    <button onclick="manageContainer('start', '{{ container.id }}')">Start</button>
                    <button onclick="manageContainer('stop', '{{ container.id }}')">Stop</button>
                    <button onclick="manageContainer('restart', '{{ container.id }}')">Restart</button>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <script>
        function manageContainer(action, containerId) {
          fetch(`/docker-action/${action}/${containerId}/`, {
            method: 'POST',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            }
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.error) {
                alert(`Error: ${data.error}`)
              } else {
                alert(data.status)
                location.reload()
              }
            })
        }
        document.addEventListener('click', function (event) {
          const dropdowns = document.querySelectorAll('.dropdown')
        
          dropdowns.forEach((dropdown) => {
            // Close other dropdowns when clicking outside
            if (!dropdown.contains(event.target)) {
              dropdown.classList.remove('active')
            }
          })
        
          // Toggle the current dropdown
          if (event.target.closest('.dropdown-toggle')) {
            const dropdown = event.target.closest('.dropdown')
            dropdown.classList.toggle('active')
          }
        })
      </script>
    </body>
  </html>
{% endblock %}
