{% extends 'base.html' %}
{% load static%}
{% block title %}Dashboard{% endblock %}

{% block content %}


<!DOCTYPE html>
<html>
  <head>
    {% comment %} <title>System Monitor</title> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
      body {
        background-color: black;
        color: white;
      }
      #cpuChart {
        background-color: rgba(255, 255, 255, 0.02);
      }
      #diskChart {
        background-color: rgba(255, 255, 255, 0.02);
      }
    </style>
    <script>
      async function fetchSystemData() {
        try {
          const response = await fetch('/system-data/');
          const data = await response.json();
          
          // Push the new data into the chart's data array
          cpuChart.data.labels.push(new Date().toLocaleTimeString());
          cpuChart.data.datasets[0].data.push(data.cpu_usage);
          
          diskChart.data.datasets[0].data[0] = data.disk_used;
          diskChart.data.datasets[0].data[1] = data.disk_free;
          
          // Make sure we only display a limited number of data points
          const maxDataPoints = 60;
          if (cpuChart.data.labels.length > maxDataPoints) {
            cpuChart.data.labels.shift();
            cpuChart.data.datasets[0].data.shift();
          }
          
          // Update the chart
          cpuChart.update()
          diskChart.update()
        } catch (error) {
          console.error('Error fetching system data:', error)
        }
      }
      
      function formatBytes(bytes, decimals = 2) {
        if (bytes === 0) return '0 Bytes'
        const k = 1024
        const dm = decimals < 0 ? 0 : decimals
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
        const i = Math.floor(Math.log(bytes) / Math.log(k))
        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i]
      }
      
      setInterval(fetchSystemData, 1000)
      
      window.onload = fetchSystemData
    </script>
    
  </head>
  <body>
    
    <h1>System Resource Monitor</h1>
    <div class="container-graphs">
      <div class="jebne-ma">
        <canvas id="cpuChart"></canvas>
      </div>
      <div>
        <canvas id="diskChart"></canvas>
      </div>
    </div>
    <script>
      var ctx2 = document.getElementById('cpuChart').getContext('2d')
      var cpuChart = new Chart(ctx2, {
        type: 'line',
        data: {
          labels: [], // This will be the timestamps
          datasets: [
          {
            label: 'CPU Usage',
            data: [], // This will be the CPU usage data
            borderColor: 'rgba(75, 192, 192, 1)',
            
            fill: true,
            backgroundColor: 'rgba(75, 192, 192, 0.4)',
            
          }
          ]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              max: 100
              
            }
          }
        }
      });
      
      var ctx1 = document.getElementById('diskChart').getContext('2d');
      var diskChart = new Chart(ctx1, {
        type: 'doughnut',
        data: {
          labels: ['Used', 'Free'],
          datasets: [
          {
            label: 'Disk Usage',
            data: [{{ disk_used|default:0 }}, {{ disk_free|default:0 }}],
            backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'],
            borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'],
            borderWidth: 1
          }
          ]
        }
      });
    </script>
  </body>
  </html>
  {% endblock %}
