{% extends 'base.html' %}{}{% load static %}
{% block title %}
  System Logs
{% endblock %}

{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent System Logs</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/logs.css' %}">
</head>
<body>
    <div class="main-content">

        <h2 class="title">Dashboard > Recent Logs </h2>
        <div class="display">

            {% for date, logs in grouped_logs.items %}
                <h3 class="date">{{ date }}</h3>

                <table class="log-table">
                    <tr>
                        <th>Time</th>
                        <th>Priority</th>
                        <th>Message</th>
                        <th>service</th>
        
                    </tr>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.timestamp.time }}</td>
                            <td>{{ log.priority }}</td>
                            <td>{{ log.message }}</td>
                            <td>{{ log.service }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <span class="divider"></span>
            {% endfor %}
        </div>
    </div>

</body>
</html>
{% endblock %}
