    {% extends 'base.html' %}
{% load static %}

{% block title %}
  System Logs
{% endblock %}

{% block content %}
<head>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/logs.css' %}">
</head>
<body>
<div class="table-content">  <!-- Originally main-content but had duplicate styles-->
    <h2 class="title">/dash/logs</h2>

    <!-- Filter Form -->
    <form method="get" action="">
        <div class="controls">
            <!-- Date Picker -->
            <div class="control-item">
                <input type="date" name="date" value="{{ selected_date }}" class="date-picker" />
            </div>

            <!-- Priority Filter -->
            <div class="control-item">
                <select name="priority" class="log-level-select">
                    <option value="all" {% if selected_priority == "all" or not selected_priority %}selected{% endif %}>All Levels</option>
                {% for key, value in unique_priorities %}
                    <option value="{{ key }}" {% if selected_priority == key|stringformat:"s" %}selected{% endif %}>{{ value }}</option>
                {% endfor %}

                </select>
            </div>

            <!-- Search Input -->
            <div class="control-item search-container">
                <input type="text" name="search" value="{{ search_term }}" class="search-input" placeholder="Search logs..." />
            </div>

            <!-- Submit Button -->
            <div class="control-item">
                <button type="submit" class="filter-button">Filter</button>
            </div>
        </div>
    </form>

    <!-- Log Display -->
   <div class="display">
        <div class="log-table">
            {% for log in logs %}
                <div class="log-row {{ log.priority|lower }}" data-level="{{ log.get_priority_display|upper }}">
                    <p class="log-entry">
                        <span class="timestamp">{{ log.timestamp|date:"Y-m-d H:i:s" }}</span>
                        <span class="priority">[{{ log.get_priority_display|upper }}]</span>
                        <span class="service">{{ log.service }}</span>
                        <span class="message">{{ log.message }}</span>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
{% endblock %}
