:root {
    --background-dark: #0c0d11;
    --background-dark-secondary: #15161a;
    --background-light-grey: #ffffff25;
    --restart: #EAB308;
    --warning-color-t: #eab20810;
    --alert-color: #F59E0B;
    --alert-color-t: #f59e0b10;
    --negative: #EF4444d0;
    --error-color-t: #ef444410;
    --positive: #22c55ed0;    
    --debug-color-t: #22c55e10;
    --middle: #3B82F6;
    --text-color: #ffffffe1;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--background-light-grey);
}

th, td {
    padding: 10px 15px;
}
th {
    padding: 24px;
}
th {
    background-color: var(--background-dark-secondary);
    color: #ffffffc7;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid var(--background-dark-secondary);
}

tr {
    border-bottom: 1px solid var(--background-light-grey); 
}

tr:last-child {
    border-bottom: none; /* Remove bottom border for the last row */
}

/* Table Cell Alignment */
td {
    color: var(--text-color);
    word-wrap: normal;
    max-width: 200px;
    padding: 16px 24px;
    border: none; /* Remove vertical column borders */
}

.text-left {
    text-align: left; /* Align content to the left */
}

.text-right {
    text-align: right; /* Align content to the right */
}
                    
.text-center {
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--background-dark-secondary);
    border: 1px solid var(--background-dark);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 120px;
}

.dropdown-menu button {
    background: none;
    border: none;
    color: var(--text-color);
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
}

.dropdown-menu button:hover {
    background-color: var(--background-dark);
    color: var(--middle);
}

.dropdown.active .dropdown-menu {
    display: block;
}

.dropdown-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0;
}

.status .info-button {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    font-size: 0.8rem;
    min-width: 80px;
}

.cont-name{
    font-weight: bold;
}