:root {
    --background-dark: #0c0d11;
    --background-dark-secondary: #15161a;
    --text-color: #ffffff;
    --text-color-time: #ffffffda;
    --text-gray: #888;
	--info-color: #3B82F6;
    --info-color-t: #3b82f610;
	--warning-color: #EAB308;
    --warning-color-t: #eab20810;
    --alert-color: #F59E0B;
    --alert-color-t: #f59e0b10;
	--error-color: #EF4444;
    --error-color-t: #ef444410;
	--debug-color: #22C55E;
    --debug-color-t: #22c55e10;
    /* --button-bg: #D870FF;
    --button-hover-bg: #d970ffe3; */
    --button-bg: #2281c5;    /* Deep teal/blue for button */
    --button-hover-bg: #5A9DE4; /* Lighter blue for hover effect */
}

body {
    background-color: var(--background-dark);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}





.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.control-item {
    flex: 1;
    min-width: 150px;
}

.date-picker,
.log-level-select,
.service-select,
.search-input {
    width: 100%;
    padding: 8px;
    /* border: 1px solid var(--text-gray); */
    border: none;
    background-color: var(--background-dark-secondary);
    color: var(--text-color);
    border-radius: 4px;
}

.filter-button {
    padding: 8px 16px;
    background-color: var(--button-bg);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.display {
    background-color: var(--background-dark-secondary);
    border-radius: 5px;
    padding: 10px;
}

.date {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.log-table {
    margin: 0 10px;
}

.log-row {
    font-family: "Fira Code", "Consolas", "Courier New", monospace;
    display: flex;
    gap: 15px;
    padding: 8px;
    margin-bottom: 5px;
    background-color: var(--background-dark);
    border-left: 4px solid;
    border-radius: 4px;
}

.log-time {
    width: 70px;
    text-align: right;
}

.log-level {
    width: 80px;
    text-align: center;
    font-weight: bold;
}

.log-service {
    width: 150px;
    text-align: left;
}

.log-msg {
    flex: 1;
    text-align: left;
}

/* Apply colors based on log priority */


.log-row[data-level="EMERGENCY"] {
    color: var(--error-color);
    background-color: var(--error-color-t);
}
.log-row[data-level="ERROR"] {
    color: var(--error-color);
    background-color: var(--error-color-t);
}
.log-row[data-level="ALERT"] {
    color: var(--alert-color);
    background-color: var(--alert-color-t);
}
.log-row[data-level="WARNING"] {
    color: var(--warning-color);
    background-color: var(--warning-color-t);
}

.log-row[data-level="INFO"] {
    color: var(--info-color);
    background-color: var(--info-color-t);
}
.log-row[data-level="NOTICE"] {
    color: var(--info-color);
    background-color: var(--info-color-t);
}
.log-row[data-level="DEBUG"] {
    color: var(--debug-color);
    background-color: var(--debug-color-t);
}

.divider {
    height: 10px;
    background-color: var(--background-dark);
    margin: 20px 0;
}

.timestamp{
    color: var(--text-color-time);
}
.priority{
    font-weight: bold;
}
.service{
    color: #c084fcea;
    font-weight: 600;
}
.message{
    color: var(--text-color)
}
.filter-btn{
    padding: 6px 16px;
    /* background-color: var(--button-bg); */
    /* color: var(--text-color); */
    font-weight: bold;
    cursor: pointer;
}