:root {
    --background-dark: #0c0d11;
    --background-dark-secondary: #15161a;
    --sidebar-width: 60px;
    --sidebar-expanded-width: 200px;
    --transition-speed: 0.3s;
}

.container {
    display: flex;
}

ul {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

#sidebar {
    width: var(--sidebar-width);
    background-color: var(--background-dark-secondary);
    transition: width var(--transition-speed);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#sidebar.expanded {
    width: var(--sidebar-expanded-width);
}

#sidebar .icon {
    font-size: 1.5em;
}

#sidebar.expanded .icon {
    margin-right: 20px;
}

#sidebar .text {
    display: none;
}

#sidebar.expanded .text {
    display: inline;
}

.toggle-btn {
    cursor: pointer;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#sidebar.collapsed a {
    justify-content: center;
}

#sidebar.collapsed .icon {
    margin-right: 0;
}

.logout {
    margin-top: auto;
    margin-bottom: 0.7em;
}