:root {
  /* Background */
  --background-dark: #1C1C1E;
  --background-slate-black: #111111;

  /* Accent Colors */
  --accent-neon-cyan: #00FFFF;
  --accent-electric-blue: #1E90FF;
  --accent-ultramarine: #3A80E9;
  --accent-lime-green: #32CD32;
  --accent-neon-green: #39FF14;
  --accent-magenta: #FF00FF;
  --accent-fuchsia: #FF77FF;

  /* Gradient Colors */
  --gradient-cyan-ultramarine-start: #00FFFF;
  --gradient-cyan-ultramarine-end: #3A80E9;
  --gradient-blue-violet-start: #1E90FF;
  --gradient-blue-violet-end: #EE82EE;

  /* Complementary Highlights */
  --highlight-silver-gray: #BFC9CA;
  --highlight-bright-yellow: #FFFF00;
}




body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item {
    background-color: #161616;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-card {
    grid-column: 1 / -1; /* Span all columns */
    height: auto; /* Let height adjust based on content */
    overflow-y: auto; /* Scroll if content exceeds height */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

table th {
    background-color: #f2f2f2;
    color: black;
}

canvas {
    width: 100% !important;
    max-height: 300px !important;
}