# Virtual environments
venv/
myenv/

# Python cache
__pycache__/

# Celery Beat schedule database
beat_schedule.db

# Redis RDB snapshot file
dump.rdb

# Environment variables
.env
.env.*

# migrations
migrations/
